.info-table {
  margin: 20px auto;
  border: 2px solid green;

  span {
    text-align: center;
    display: table-cell;
    font-family: sans-serif;
  }

  .deaths {
    color: red;
  }
  .recovered {
    color: green;
  }
  .cases {
    color: blue;
  }

  .optionsPanel {
    display: flex;
    justify-content: space-evenly;
  }

  .dataPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
