.control-panel {
  margin: 5px;

  select {
    margin-right: 5px;
    background-color: #c834db;
    color: white;
    padding: 4px;
    font-size: 16px;
    border-style: groove;
    cursor: pointer;
    font-family: monospace;
  }
}
